
.header.container {
    background: darkslategray;
    display: flex;
    justify-content: space-between;
}

html {
    background: #fff;
    height: 100%;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 5px 5px 30px #eee;
    background-color: #EEE;
}

.main.container {
    min-height: 50vh;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

.container.footer {
    background: darkslategray;
    color: #999;
}

.container {
    padding: 15px;
    position: relative;
}

.header.container h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFF;
}

.job .headline {
    font-size: 28px;
    font-weight: 600;
}

.job .headline p {
    display: inline-block;
}

.job .headline p:after {
    content: "";
    width: auto;
    background: #999;
    height: 2px;
    display: block;
}

.job {
    background: #fff;
    margin-bottom: 1em;
    padding: 30px 30px;
    box-shadow: 1px 2px 10px #ddd;
}

.job .content {
    display: flex;
}

.job .description {
    width: 75%;
    padding: 15px;
}

.job .specifications {
    width: 25%;
    padding: 15px;
    background: #fafafa;
}

.jobs-count {
    font-size: 1.5em;
}

.job .apply-job {
    padding: 2em 0;
}

.job .apply-job a {
    padding: 15px 20px;
    color: #FFF;
    text-decoration: none;
    background: green;
}

.input-form {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 40%;
    flex: 1 1 40%;
}


.job-finder-form .input-form {
    margin-right: 1em;
}

.button-form {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.button-form input {
    margin: 0;
    text-align: center;
    background-color: lightgreen !important;
    border: .125rem solid lightgreen !important;
    border-radius: 6.25rem !important;
    cursor: pointer;
}

.register-btn {
    cursor: pointer;
    text-decoration: none;
    color: lightgreen;
    text-decoration: underline;
    padding: 0 20px;
}

.one-half label {
    display: block;
}

.job-finder {
    margin: 0 auto;
    max-width: 80%;
}

.job-finder-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.job-finder-form input {
    padding: 1rem;
    border-radius: .25rem;
    background-color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    outline: 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    line-height: 1.7;
}

.error-message {
    color: red;
    padding: .5em;
}

.error-message:empty {
    visibility: hidden;
}

.logged-in, .not-logged-in {
    margin-block-start: 0;
    margin-block-end: 0;
}

.logged-in {
    color: lightgreen;
}

.logged-in:before {
    content: "✓";
    display: inline-block;
    margin-right: 15px;
}

input[name="LoginView::Logout"] {
    position: absolute;
    top: 15px;
    right: 15px;
}

input[name="LoginView::Login"] {
    margin: 0;
    text-align: center;
    background-color: lightgreen !important;
    border: .125rem solid lightgreen !important;
    cursor: pointer;
    border-radius: 30px;
    text-transform: capitalize;
}

.site-title h1 a {
    text-decoration: none;
    color: inherit;
}

.logged-in-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.message {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.login-form {
    padding-top: 60px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.login-form input {
    padding: 6px 12px;
}

.go-back-btn {
    color: #FFF;
    padding: 0 20px;
}